# Ignorar pastas de build
bin/
obj/

# Ignorar configurações locais e IDEs
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignorar arquivos temporários do sistema
*.log
*.tmp
*.DS_Store
*.swp
Thumbs.db

# Ignorar Git
.git/
.gitignore

# Outros
*.md
.env
